.statistics {
  width: 1379px;
  height: 833px;
  background: #fff;
  padding: 77px 54px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.statisticsTitle {
  font-size: 22.65px;
}

/* === MEDIA === */

@media screen and (max-width: 1910px) {
  .statistics {
    width: 97%;
    height: auto;
  }
}

@media screen and (max-width: 1400px) {
  .statisticsTitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 1250px) {
  .statisticsTitle {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 700px) {
  .statistics {
    width: 99% !important;
    height: auto;
    padding: 20px;
  }
  .statisticsTitle {
    font-size: 16px !important;
  }
}
