.admin__login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../assets/admin/admin-login-bg.jpeg),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: left;
}
.admin__login__form {
  width: 790px;
  height: 587px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px 0;
  gap: 15px;
  border: 2px solid #fff;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 29.5px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  z-index: 5;
}
.admin__login__form p {
  color: #5d6661;
  font-size: 55.9px;
  font-weight: 400;
}
.admin__login__form input {
  width: 574px;
  height: 91px;
  border: 2px solid #3498db;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
  text-indent: 20px;
  color: #5d6661;
  font-size: 36.65px;
  font-weight: 400;
  outline: none;
}
.admin__login__form span button,
.admin__login__form span {
  color: #5d6661;
  font-size: 22.65px;
  font-weight: 400;
}
.admin__login__form span button {
  color: #3498db;
  background: none;
  border: none;
}
.admin__login__btn {
  width: 240px;
  padding: 11px 28px;
  border-radius: 18px;
  background: #3498db;
  border: none;
  color: #fff;
  font-size: 36.65px;
  font-weight: 400;
}

@media screen and (max-width: 1300px) {
  .admin__login__form {
    width: 550px;
    height: 450px;
    padding: 30px 0;
    gap: 15px;
  }
  .admin__login__form p {
    font-size: 40px;
  }
  .admin__login__form input {
    width: 80%;
    height: 60px;
    font-size: 24px;
  }
  .admin__login__form span button,
  .admin__login__form span {
    font-size: 18px;
  }
  .admin__login__btn {
    width: 40%;
    padding: 8px 20px;
    font-size: 24px;
  }
}

@media screen and (max-width: 1050px) {
  .admin__login__form {
    width: 45%;
    height: 350px;
    padding: 20px 0;
  }

  .admin__login__form p {
    font-size: 30px;
  }
  .admin__login__form input {
    width: 80%;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
  }
  .admin__login__form span button,
  .admin__login__form span {
    font-size: 16px;
  }
  .admin__login__btn {
    width: 40%;
    padding: 8px 0;
    font-size: 20px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 870px) {
  .admin__login__form {
    width: 60%;
    height: 350px;
  }

  .admin__login__form p {
    font-size: 26px;
  }
  .admin__login__form input {
    width: 80%;
    height: 40px;
    font-size: 16px;
  }
  .admin__login__form span button,
  .admin__login__form span {
    font-size: 14px;
  }
  .admin__login__btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 630px) {
  .admin__login__form {
    width: 70%;
    height: 350px;
  }
}
@media screen and (max-width: 450px) {
  .admin__login__form {
    width: 80%;
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .admin__login__form {
    width: 80%;
    height: 300px;
    border-radius: 15px;
  }
  .admin__login__form span {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
