@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  font-family: "Poppins", sans-serif;
}
body {
  max-width: 1920px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.admin__sidebar {
  width: 409px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  box-shadow: 1px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.sidebar__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 40px 60px;
}
.sidebar__logo div {
  width: 68px;
  height: 68px;
  border-radius: 18px;
  background: #0085af;
}
.sidebar__logo a {
  color: #5d6661;
  font-size: 36.65px;
  font-weight: 400;
}
.admin__sidebar span {
  color: #bdbdbd;
  font-size: 20px;
  font-weight: 400;
  padding-left: 52px;
}
.sidebar__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 50px;
}
.sidebar__links a {
  width: 235px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 31px;
  border: 2px solid #0085af;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  color: #0085af;
  font-size: 22.65px;
  font-weight: 500;
}

.sidebar__links a.active {
  background: #0085af;
  color: #fff;
}
