.admin {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: #f6f6f6;
}
.admin__logout {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 51px;
  height: 52px;
  cursor: pointer;
  z-index: 900;
}

/* === MEDIA === */

@media screen and (max-width: 1560px) {
  .admin__logout {
    width: 45px;
    height: 45px;
    top: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .admin__logout {
    width: 45px;
    height: 45px;
  }
}
