.admin {
  position: relative;
  width: 100%;
  display: flex;
  background: #f6f6f6;
}
.admin__logout {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 51px;
  height: 52px;
  cursor: pointer;
}
